@model AwesomeMvcDemo.Models.Lunch
<div style="padding:0.2em 2em;">
    @Model.Person had @Model.Food  at @Model.Location in @Model.Country.Name<br/>
    View loaded from server at: @DateTime.UtcNow UTC
</div>
